.container{
   background-color: #fff;
}

.centre{
   display: flex;
   justify-content: center;
   align-items: center;
}

form{
   font-size: 14px;
}

table{
   text-align: center;
   max-width:800px
}

h1{
   text-align: center;
}

h1{
   font-size:25px
}